@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body {
  background: #e0c9cb;
  font-family: "Lato", sans-serif, sans-serif;
  text-transform: uppercase;
  background-image: url(https://p16-amd-va.tiktokcdn.com/obj/musically-maliva-obj/8733f94e398f9c79399a971cce238d36);
  background-repeat: no-repeat;
  /*background-size: contain*/
}

header {
  display: flex;
  box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
  justify-content: space-between;
  padding: 10px;
}

.titulo-header-container {
  display: flex;
  width: 30%;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.titulo-header {
  color: white;
}

.fa-heart {
  color: white;
  font-size: 25px;
}

/*************************************************/
.marca-header, .categoria-header {
  border: none;
  background-color: rgba(255, 255, 255, 0.171);
  color: white;
  margin: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.marca-header:hover {
  background-color: #ba7e7e;
  color: white;
  cursor: pointer;
}

.categoria-header:hover {
  background-color: #ba7e7e;
  color: white;
  cursor: pointer;
}

.ocultar {
  display: none;
}

/*
ul {
  @extend %asides;
}
*/
.container-main {
  margin: 100px;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tarjeta {
  width: 320px;
  border: 1px solid #ba7e7e;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.315);
}

.tarjeta:hover {
  transform: scale(1.5);
}

.product-title {
  font-size: 1.2em;
  color: #4e4e4e;
  margin-top: -5px;
}

.price {
  color: #c3a1a0;
}

img {
  width: 290px;
  border-radius: 25%;
}

.product {
  width: 40%;
  height: 100%;
}

.description {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #4e4e4e;
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

#seccion-detalle-tarjeta {
  background-color: #d9aab7;
  height: 600px;
}

/*CATEGORIAS DEL MENU HAMBURGUESA*/
.li-categorias {
  list-style: none;
  margin: 20px;
  color: white;
  font-family: "Lato", sans-serif;
  border-bottom: 1px solid;
}

.li-categorias:hover {
  background-color: #ba7e7e81;
  border-radius: 43px;
  cursor: pointer;
}

#categorias-header-container {
  text-align: center;
  width: 22vw;
  position: absolute;
  top: 110px;
  right: 0px;
  background-color: rgba(255, 192, 203, 0.226);
  margin: 0;
  padding: 10px;
  list-style: none;
  text-align: center;
}

/*
button {
  background: darken($light, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
  cursor: pointer;
  &:hover {
    background: $rose;
    transition: all 0.4s ease-in-out;
  }
}

.add {
  width: 67%;
}

.like {
  width: 22%;
}

.focus {
  background: $rose;
  color: $white;
}
*/
/***********PAGINADO********/
.paginado {
  display: flex;
  justify-content: center;
}

.boton-pag-prev-next {
  border: none;
  color: #d9aab7;
  margin: 20px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.boton-pag-prev-next:hover {
  background-color: #ba7e7e;
  color: white;
}

/*SECCION DE BUSQUEDA*/
#seccion-busqueda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
  padding: 10px;
}

.marcas-sugeridas {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: center;
}

span {
  color: white;
}

::placeholder {
  color: white;
  font-family: "Lato", sans-serif;
}

#busqueda {
  width: 320px;
  height: 40px;
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: rgba(186, 126, 126, 0.5);
  border-radius: 20px;
  font-size: 22px;
  padding: 2px 5px;
  border: none;
  margin: 40px;
}

#busqueda:hover {
  background-color: #e0c9cb;
}

/*# sourceMappingURL=style.css.map */
