@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

@mixin display-flex {
  display: flex;
}

$font: "Lato", sans-serif;
$white: white;
$light: #e0c9cb;
$tan: #c3a1a0;
$pink: #d9aab7;
$rose: #ba7e7e;
$dark: #4e4e4e;

body {
  background: $light;
  font-family: $font, sans-serif;
  text-transform: uppercase;
  background-image: url(https://p16-amd-va.tiktokcdn.com/obj/musically-maliva-obj/8733f94e398f9c79399a971cce238d36);
  background-repeat: no-repeat;
  /*background-size: contain*/
}

header {
  @include display-flex();
  box-shadow: 5px 5px 15px rgba($rose, 0.5);
  justify-content: space-between;
  padding: 10px;
}
.titulo-header-container {
  @include display-flex();
  width: 30%;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.titulo-header {
  color: $white;
}
.fa-heart {
  color: $white;
  font-size: 25px;
}

/*
#buscador-header {
  background: darken($light, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: 10px;
  border-radius: 2px;
  width: 70%;
}*/
/*************************************************/

.categorias-header-container {
  width: 70%;
  @include display-flex();
  justify-content: flex-end;
}

%botones {
  border: none;
  background-color: rgba(255, 255, 255, 0.171);
  color: $white;
  margin: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.categoria-header {
  @extend %botones;
}
.marca-header {
  @extend %botones;
}
.marca-header:hover {
  background-color: $rose;
  color: white;
}
.categoria-header:hover {
  background-color: $rose;
  color: white;
}

.ocultar {
  display: none;
}

%asides {
  width: 20%;
  height: 100%;
  background: $pink;
  margin: 0;
  padding: 10px;
  list-style: none;
  border: 1px solid $rose;
}

.marcas-header-container {
  @extend %asides;
}
.categorias-header-container {
  @extend %asides;
}

.container-main {
  margin: 100px;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba($rose, 0.5);
  border-radius: 10px;
  @include display-flex();
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tarjeta {
  width: 320px;
  border: 1px solid $rose;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.315);
}
.product-title {
  font-size: 1.2em;
  color: $dark;
  margin-top: -5px;
}

.price {
  color: $tan;
}

img {
  width: 290px;
  border-radius: 25%;
}

.product {
  width: 40%;
  height: 100%;
}

.description {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: $dark;
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}
/*
button {
  background: darken($light, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
  cursor: pointer;
  &:hover {
    background: $rose;
    transition: all 0.4s ease-in-out;
  }
}

.add {
  width: 67%;
}

.like {
  width: 22%;
}

.focus {
  background: $rose;
  color: $white;
}
*/

/***********PAGINADO********/

.paginado {
  @include display-flex();
  justify-content: center;
}

%botones-prev-next {
  border: none;
  color: $pink;
  margin: 20px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.boton-pag-prev-next {
  @extend %botones-prev-next;
}
.boton-pag-prev-next:hover {
  background-color: $rose;
  color: white;
}
